* {
   box-sizing: border-box;
}

body {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h2 {
   font-family: Libre Franklin;
   font-size: 30px;
   font-weight: 400;
   color: hsl(0, 0%, 59%);
}

p {
   font-family: Libre Franklin;
   font-weight: 300;
   color: hsl(209, 33%, 12%);
}

.container {
   width: 365px;
   height: auto;
   text-align: center;
}

.wrap {
   width: 100%;
   height: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.logo {
   padding-top: 10px;
   width: 80px;
   height: 50px;
}

.logo img {
   width: 100%;
}

.text {
   font-family: Libre Franklin;
   font-weight: 700;
   color: hsl(209, 33%, 12%);
}

.dynamic {
   padding-top: 30px;
   position: relative;
   display: flex;
   flex-direction: column;
}

#email {
   width: 350px;
   border-radius: 24px;
   border: 1px solid hsl(223, 100%, 88%);
   padding: 14px 28px;
}

#email.color {
   border: 1px solid hsl(354, 100%, 66%);
}

::placeholder {
   color: hsl(223, 100%, 88%);
}

#error {
   color: hsl(354, 100%, 66%);
   font-size: 16px;
   font-style: italic;
}

.submit {
   background-color: hsl(223, 87%, 63%);
   color: white;
   font-size: 16px;
   width: 350px;
   border: none;
   display: inline-block;
   padding: 16px 24px;
   box-shadow: 0 5px 9px 1px hsl(223, 100%, 88%);
   margin-bottom: 10px;
   border-radius: 24px;
   cursor: pointer;
}

.submit a {
   color: white;
   text-decoration: none;
}

.illust > img {
   margin-top: 50px;
   width: 100%;
   padding-bottom: 80px;
   margin-bottom: 40px;
}

.fav {
   display: flex;
   flex-direction: row;
   gap: 15px;
   padding-top: 80px;
   margin-top: 80px;
   margin-bottom: 40px;
}

.fav > div {
   height: 32px;
   width: 32px;
   border: 1px solid hsl(223, 100%, 88%);
   border-radius: 50%;
   position: relative;
}

.fav > div a {
   color: hsl(223, 87%, 63%);
   display: block;
}

.fav > div:hover {
   background-color: hsl(223, 87%, 63%);
   cursor: pointer;
   border: 1px solid hsl(223, 87%, 63%);
}

.fav > div:hover a {
   color: white;
}

.foot {
   color: hsl(0, 0%, 59%);
   font-size: 16px;
}

@media screen and (min-width: 1000px) {
   .container {
      width: 650px;
   }

   .dynamic {
      margin-top: 50px;
      width: 650px;
      height: 100px;
      flex-direction: row;
      justify-content: space-between;
   }

   #email {
      width: 450px;
   }

   .submit {
      width: 180px;
   }

   #error {
      text-align: left;
      margin-left: 30px;
      font-size: 13px;
   }

   .fav {
      padding-top: 10px;
      margin-top: 10px;
   }
}
